<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :people, collection: (Person.select {|p| p.email.present?}), :label => "To" %>
    <%= f.input :subject %>
    <%= f.input :body %>
  </div>

  <div class="form-actions">
    <%= f.submit "Send Message", :class => "btn btn-primary" %>
  </div>
<% end %>
