<%= content_for :heading do %>
  <h1>
    <small>Providing Constant Contact</small><br>
    Messages
  </h1>
<% end %>

<%= link_to 'New Message', new_message_path, :class => "btn btn-primary pull-right" %><br>

<% if @messages.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Recipient(s)</th>
        <th>User</th>
        <th>Sent</th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= link_to message.subject, message_path(message) %></td>
          <td>
            <% if message.people.count < 3 %>
              <%= message.people.map {|p| link_to p.name, person_path(p)}.join(", ").html_safe %>
            <% else %>
              <%= message.people.count %> People
            <% end %>
          </td>
          <td><%= message.user.email %></td>
          <td><%= message.created_at.strftime("%D") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="text-center">
    <hr>
    <p>There are currently no messages in the <%= @community.name %> Community.</p>
    <p><%= link_to "Send a Message", new_message_path %></p>
  </div>
<% end %>
