<div class="media media_note">
	<%= note.body %>
	<br>
  <ul class="list-inline border_none">
  	<% if note.reminder_ds.present? %>
    	<li>
    		<div class="icon-alarmclock"></div> <%= note.reminder_ds.strftime("%b %e, %Y") %>
      </li>
  	<% end %>
    <% if note.attachment.present? %>
      <li class="pull-right">
        <%= link_to "#{note.attachment}", :target => "_blank" do %>
          <div class="icon-paperclip"></div> Attachment
        <% end %><br>
      </li>
    <% end %>
  </ul>
	<ul class="list-inline text-right">
    <li>
      <%= note.user.email %>
    </li>
    <li><em class="text-muted"><%= distance_of_time_in_words(Time.now, note.created_at) %> ago</em></li>
    <% if current_user %>
      <% if note.user_id == current_user.id %>
        <li>
        	<%= link_to polymorphic_url([@noteable, note]), :confirm => 'Are you sure?', :method => :delete do %>
        		<div class="icon-trash text-danger"></div>
        	<% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>