<div class="general_form_wrapper">
  <%= simple_form_for(@person) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <legend>General Information</legend>
      <%= f.input :name %>
      <%= f.input :bio %>
      <%= f.input :gender %>
      <%= f.input :photo %>
      <legend>Digital Addresses</legend>
      <div class="">
        <table id="digital_address_table" class="full_width">
          <%= f.association :digital_addresses do |d_address| %>
            <tr>
              <td><%= d_address.input :url, label: false %></td>
              <td><%= d_address.collection_select(:address_type, DigitalAddress::address_types, :first, :last) %></td>
              <td></td>
            </tr>
          <% end %>
        </table>
        <%= link_to "", :onClick => "return false;", :id => "add_web_button", :class => "btn btn-sm btn-default pull-right" do %>
          <div class="glyphicon glyphicon-plus"></div> Add Web Address
        <% end %>
      </div>

      <legend>Employment</legend>
      <table class="full_width">
        <tr>
          <th>Company</th>
          <th>Role</th>
        </tr>
        <%= f.association :employments do |e| %>
          <tr>
            <td><%= e.input :company, collection: (Company.all), :label => false %></td>
            <td><%= e.input :role, :label => false %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="form-actions">
      <% if @person.id %>
        <%= link_to 'Delete Person', person_path(@person), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn text-danger pull-left" %>
      <% else %>
        <%= link_to 'Cancel Person', people_path,  data: { confirm: 'Are you sure? All information will be lost, FOREVER!' }, :class => "btn text-danger pull-left" %>
      <% end %>
      <%= f.button :submit, :class => "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>

<script>
  // Add Digital Address Script
  $(document).ready(function(){
    var i = <%= @person.digital_addresses.count %>;
    var options = '<%= raw options_from_collection_for_select(DigitalAddress.address_types, :first, :last).squish.gsub('> <', '><') %>';

    $("#add_web_button").click(function(){
      i ++;
      $("#digital_address_table").append('<tr id="digi_'+i+'""><td><div class="input url optional person_digital_addresses_url"><input class="string url optional" id="person_digital_addresses_attributes_'+i+'_url" name="person[digital_addresses_attributes]['+i+'][url]" type="url" value="http://"></div></td><td><select id="person_digital_addresses_attributes_'+i+'_address_type" name="person[digital_addresses_attributes]['+i+'][address_type]">' + options + '</select></td><td><div class="remove_column">x</div></td></tr>');
    });
  });

  // Remove Row Script
  $(document).ready(function(){
    $('table').on('click', '.remove_column', function(e){
       $(this).closest('tr').remove()
    })
   });
</script>
