<%= content_for :heading do %>
  <h1 class="text-center">
    <small>Update Information for</small><br>
    <%= @person.name %>
  </h1>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
