<%= content_for :heading do %>
  <h1>
    <small>Positive Connections</small><br>
    People
  </h1>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <%= render "shared/search" %>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <%= link_to 'New Person', new_person_path, :class => "btn btn-primary pull-right" %>
  </div>
</div>

<hr>

<%= render "people/index_nav" %>

<div class="row">
  <% if @people.count > 0 %>
    <%= render @people.order("name asc") %>
  <% else %>
    <div class="text-center">
      <p>There are currently no people in the <%= @community.name %> Community.</p>
      <p><%= link_to "Add a Person", new_person_path %></p>
    </div>
  <% end %>
</div>
