<%= content_for :heading do %>
  <h1>
    <small>Positive Connections</small><br>
    People
  </h1>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <%= search_form_for @search, :class => "search_form" do |f| %>
      <div class="input-group">
        <%= f.text_field :name_cont, :class => "form-control" %>
        <span class="input-group-btn">
          <%= f.submit "Search", :class => "btn btn-primary" %>
        </span>
      </div><!-- /input-group -->
    <% end %>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <%= link_to 'New Person', new_person_path, :class => "btn btn-primary pull-right" %>
  </div>
</div>

<hr>

<div>
  <ul class="nav nav-pills">
    <li class="pull-right <%= "active" unless params[:person_type] %>">
      <%= link_to "All",  url_for(:person_type => nil) %>
    </li>
    <li class="pull-right <%= "active" if params[:person_type] == "customers" %>">
      <%= link_to "Customers",  url_for(:person_type => "customers") %>
    </li>
    <li class="pull-right <%= "active" if params[:person_type] == "coworkers" %>">
      <%= link_to "Coworkers",  url_for(:person_type => "coworkers") %>
    </li>
  </ul>
  <br>
</div>

<div class="row">
  <% if @people.count > 0 %>
    <% @people.order("name asc").each do |person| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <%= link_to person_path(person) do %>
          <div class="asset_preview">
            <% if person.photo.present? %>
              <%= image_tag person.photo_url(:medium), :class => "asset_img" %>
            <% else %>
              <%= image_tag "default_person.png", :class => "asset_img" %>
            <% end %>

            <div>
              <h2><%= person.name %></h2>

              <div class="asset_preview_social text-center">
                <% person.digital_addresses.order("address_type asc").each do |digi| %>
                  <%= link_to digi.link_to, :target => "_blank" do %>
                    <div class="<%= digi.icon %>"></div>
                  <% end %>
                <% end %>
              </div>

              <div class="btn-group btn-group-justified">
                <%= link_to "Show", person, :class => "btn btn-primary" %>
                <%= link_to "Edit", edit_person_path(person), :class => "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="text-center">
      <p>There are currently no people in the <%= @community.name %> Community.</p>
      <p><%= link_to "Add a Person", new_person_path %></p>
    </div>
  <% end %>
</div>
