<%= content_for :heading do %>
  <h1>
    <small>Connected on <%= @person.created_at.strftime("%b %e, %Y") %></small><br>
    <%= @person.name %>
  </h1>
<% end %>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <!-- Main Photo -->
    <% if @person.photo.present? %>
      <%= image_tag @person.photo, :class => "asset_img" %>
    <% else %>
      <%= image_tag "default_person.png", :class => "asset_img" %>
    <% end %>

    <!-- Contact Info -->
    <div class="social_icons">
      <% @person.digital_addresses.order("address_type asc").each do |digi| %>
        <% if digi.address_type > 2 %>
          <%= link_to digi.url, :target => "_blank" do %>
            <div class="<%= digi.icon %>"></div>
          <% end %>
        <% elsif digi.address_type > 1 %>
          <%= link_to "mailto:#{digi.url}", :target => "_blank" do %>
            <div class="<%= digi.icon %>"></div> <%= digi.url %>
          <% end %><br>
        <% else %>
          <%= link_to "tel:+#{digi.url}", :target => "_blank" do %>
            <div class="<%= digi.icon %>"></div> <%= digi.url %>
          <% end %><br>
        <% end %>
      <% end %> 
    </div>

    <% if @person.bio.present? %>
      <br>
      <p class="well">
        <%= @person.bio %>
      </p>
    <% end %>

    <% if @person.address.present? %>
      <br>
      <pre><%= @person.address.mappable_address %></pre>
    <% end %>

    <% if @person.companies %>
      <h3>Companies</h3>
      <% @person.companies.each do |company| %>
        <%= link_to company.name, company_path(company) %>
      <% end %>
    <% end %>

    <hr>

    <%= link_to "Edit #{@person.first_name}", edit_person_path(@person), :class => "btn btn-primary btn-block" %>
  </div>

  <div class="col-sm-6 col-md-5">
    <h2>Notes</h2>
    <%= render @notes.last(5) if @notes %>

    <div class="text-center">
      <hr>
      <% if @notes.count > 5 %>
        <%= link_to "View All Notes", person_notes_url(@person), :class => "btn btn-link" %>
      <% elsif @notes.count == 0 %>
        <p>There are currently no notes for <%= @person.first_name %>.</p>
      <% end %>
    </div>
  </div>
  
  <div class="col-sm-12 col-md-4">
    <div class="new_note_wrapper">
      <h3>New Note</h3>
      <%= render "notes/form" %>
    </div>
    <hr>
  </div>
</div>
