<div class="row">
  <div class="col-sm-4">
    <%= render "shared/search" %>
  </div>
  <div class="col-sm-8">
    <div class="btn-group pull-right">
      <%= link_to new_company_path, :class => "btn btn-primary" do %>
        <div class="icon-plus"></div> New Company
      <% end %>
      <%= link_to "", :class => "btn btn-primary" do %>
        <div class="icon-export"></div> Export
      <% end %>
      <%= link_to "", :class => "btn btn-primary" do %>
        <div class="icon-import"></div> Import
      <% end %>
    </div>
  </div>
</div>

<hr>

<%= render "companies/index_nav" %>

<div class="row">
  <% if @companies.count > 0 %>
    <%= render @companies.order("name asc") %>
  <% else %>
    <div class="text-center">
      <p>There are currently no companies in the <%= @community.name %> Community.</p>
      <p><%= link_to "Add a Company", new_company_path %></p>
    </div>
  <% end %>
</div>
