<%= content_for :heading do %>
  <h1>
    <small>Loyal Businesses</small><br>
    Companies
  </h1>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <%= search_form_for @search do |f| %>
      <div class="input-group">
        <%= f.text_field :name_cont, :class => "form-control" %>
        <span class="input-group-btn">
          <%= f.submit "Search", :class => "btn btn-primary" %>
        </span>
      </div><!-- /input-group -->
    <% end %>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <%= link_to 'New Company', new_company_path, :class => "btn btn-primary pull-right" %>
  </div>
</div>

<hr>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.photo %></td>
        <td>
          <div class="btn-group pull-right">
            <%= link_to 'Show', company, :class => "btn btn-default btn-sm" %>
            <%= link_to 'Edit', edit_company_path(company), :class => "btn btn-default btn-sm" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
