<%= content_for :heading do %>
  <h1>
    <small>Connected on <%= @company.created_at.strftime("%b %e, %Y") %></small><br>
    <%= @company.name %>
  </h1>
<% end %>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <!-- Main Photo -->
    <% if @company.photo.present? %>
      <%= image_tag @company.photo, :class => "asset_img" %>
    <% else %>
      <%= image_tag "default_photo.jpg", :class => "asset_img" %>
    <% end %>

    <!-- Contact Info -->
    <div class="social_icons">
      <% @company.digital_addresses.order("address_type asc").each do |digi| %>
        <% if digi.address_type > 2 %>
          <%= link_to digi.url, :target => "_blank" do %>
            <div class="<%= digi.icon %>"></div>
          <% end %>
        <% elsif digi.address_type > 1 %>
          <%= link_to "mailto:#{digi.url}", :target => "_blank" do %>
            <div class="<%= digi.icon %>"></div> <%= digi.url %>
          <% end %><br>
        <% else %>
          <%= link_to "tel:+#{digi.url}", :target => "_blank" do %>
            <div class="<%= digi.icon %>"></div> <%= digi.url %>
          <% end %><br>
        <% end %>
      <% end %> 
    </div>

    <% if @company.bio.present? %>
      <br>
      <p class="well">
        <%= @company.bio %>
      </p>
    <% end %>
  </div>

  <div class="col-sm-6 col-md-5">
    <h2>Notes</h2>
    <%= render @notes.last(5) if @notes %>
    <div class="text-center">
      <hr>
      <%= link_to "View All Notes", company_notes_url(@company), :class => "btn btn-link" %>
    </div>
  </div>
  
  <div class="col-sm-12 col-md-4">
    <div class="new_note_wrapper">
      <h3>New Note</h3>
      <%= render "notes/form" %>
    </div>
    <hr>
  </div>
</div>
