<%= content_for :heading do %>
  <h1>
    <small>Connected on <%= @company.created_at.strftime("%b %e, %Y") %></small><br>
    <%= @company.name %>
  </h1>
<% end %>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <%= render partial: "shared/asset_details", locals: {:asset => @company} %>
  </div>

  <div class="col-sm-6 col-md-9">
    <%= render "companies/tabs" %>
  </div>
</div>
