<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body>

<%= render "layouts/nav" %>

<div class="heading">
	<div class="container">
		<h1>
      <% if @page_subtitle.present? %>
        <small><%= @page_subtitle %></small><br>
      <% end %>
      <%= @page_title %>
    </h1>
	</div>
</div>

<div class="container main_container">
  <!-- Breadcrumb Titles are handles in the controller -->
  <% if render_breadcrumbs.present? %>
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
  <% end %>
	<% if notice %><div class="alert alert-success"><%= notice %></div><% end %>
	<% if alert %><div class="alert alert-danger"><%= alert %></div><% end %>
	<%= yield %>
</div>

<footer class="footer">
</footer>

<%= yield(:page_script) %>

</body>
</html>
